/*-----------------------------------------------------General Settings*/

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100;300;400;500;600&display=swap');

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.row {
    --bs-gutter-x: 0;
}

.white-text {
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
}

.black-text {
    color: #141212;
}

.uppercase {
    text-transform: uppercase;
}

.text-center {
    text-align: center;
    margin-bottom: 0;
}

.text-right {
    text-align: right;
    margin-bottom: 0;
}

.warning-message {
    font-size: large;
    text-transform: uppercase;
}

li {
    list-style-type: none;
}

.footer {
    position: fixed;
    width: 100vw;
    bottom: 10px;
}

.footer-link {
    font-size: 25px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.footer-link:hover {
    text-decoration: none;
    color: #d62b1c;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.disclaimer {
    font-size: 12px;
    color: #acaaaa;
}

.disclaimer:hover {
    text-decoration: none;
    color: #d62b1c;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.navbar {
    position: fixed;
    width: 100vw;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    z-index: 999999;
    padding-left: 20px;
    padding-right: 20px;
}

.brand-title a {
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2.5rem;
    margin: .5rem;
}

.brand-title a:hover {
    text-decoration: none;
    color: #d62b1c;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    font-family: 'Big Shoulders Display', cursive;
    text-transform: uppercase;
    padding: 1.5rem;
    font-size: 2rem;
}

.navbar-links li a:hover {
    text-decoration: none;
    color: #d62b1c;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

.social-media-links {
    display: none;
}

.btn {
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

.alert {
    position: fixed;
    width: 200px;
    height: 80px;
    top: 100px;
    right: 10px
}

/*-----------------------------------------------------MailChimp*/

#mc_embed_signup{
    margin: auto;
    width: 100%;
    font: 50px 'Big Shoulders Display', cursive;
    text-decoration: none;
    padding: 0;
}

#mc_embed_signup input {
    border: 2px solid white;
    -webkit-appearance: none;
}

#mc_embed_signup input.email {
    width: 100% !important;
}

#mc_embed_signup form {
    display: block;
    position: relative;
    text-align: center !important;
    padding: 10px !important;
}

.subscribe-btn {
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.subscribe-btn:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

/*-----------------------------------------------------Homepage*/

.home-section {
    background-image: url(../images/home-mobile.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.homepage-text {
    font-size: 5em;
    font-style: italic;
    text-shadow: 2px 2px 5px black;
}

.header-content {
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}

#signupModal {
    background-color: darkslategrey;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

/*-----------------------------------------------------Admin*/

#admin-section {
    background: url(../images/admin.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

.input-field input {
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: left;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.cover-preview {
    max-width: 100px;
    max-height: 160px;
}

.danger-btn {
    border: 2px solid #d62b1c;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
    color: #d62b1c;
    background-color: white;
}

.danger-btn:hover {
    background-color: #d62b1c;
    color: white;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

/*-----------------------------------------------------Books*/

#book-section {
    background: url(../images/book-background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

#book-page-section {
    background-image: linear-gradient(to bottom right, rgb(43, 42, 42), rgb(19, 18, 18));
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.book-container {
    position: relative;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    overflow: auto;
}

.book-header {
    text-align: center;
}

.book-cover-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.book-tagline {
    font-size: 2rem;
}

.card {
    background: none;
}

.book-cover-slide {
    width: 100%;
}

.carousel-items {
    padding: 0;
}

/*-----------------------------------------------------About*/

#about-section {
    background-image: url(../images/about.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: auto;
}

div.about-container {
    position: relative;
    width: 100%;
    max-height: 80vh;
    padding-top: 50px;
    color: white;
}

.about-row {
    margin-left: 0;
    margin-right: 0;
}

.about-text-para {
    background-color: rgba(0, 0, 0, 0.9);
    padding: 30px;
    border-radius: 15px; 
    margin-bottom: 0;
    overflow: auto;
}

.about-text {
    margin-bottom: 0;
}

.about-button {
    border: 2px solid white;
    padding: 5px;
    text-decoration: none;
    color: white;
    border-radius: 5px;
}

.about-button:hover {
    background-color: white;
    color: black;
    text-decoration: none;
    transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out; 
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
}

/*-----------------------------------------------------FAQ*/

#faq-section {
    background-image: url(../images/faq.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.faq-container {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    overflow: auto;
}

.faq-header {
    text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(255, 251, 251);
    cursor: pointer;
    padding: 10px;
    width: 100%;
    text-align: center;
    font-family: 'Big Shoulders Display', cursive;
    color: white;
    font-size: xx-large;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 20px 18px;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    overflow: hidden;
    text-align: center;
}

/*------------------------------------------------------------Sign Up*/

#signup-section {
    background-image: url(../images/signup.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100vw;
}

.signup-book-cover {
    max-height: 500px;
    -moz-box-shadow: 0 0 5px #fff;
    -webkit-box-shadow: 0 0 5px #fff;
    box-shadow: 0px 0px 5px #fff;
}

.signup-tick {
    font-size: 40px;
}

/*------------------------------------------------------------Contact*/

#contact-section {
    background-image: url(../images/signup.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100vw;
}

/*-----------------------------------------------------Media Queries*/

@media (max-width: 764px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        background-color: rgba(0, 0, 0, 1);
        padding-left: 0;
        padding-right: 0;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
        background-color: rgba(0, 0, 0, 1);
    }

    .navbar-links.active {
        display: flex;
    }

    .dropdown-menu-icon {
        text-decoration: none;
        color: whitesmoke;
        text-shadow: 2px 2px 5px black;
        font-size: 2.5rem;
    }

    a:hover {
        text-decoration: none;
    }

    .social-media-links {
        display: flex;       
    }

    .social-media-links p {
        width: 100vw;
        display: inline-block;
    }
}

@media (min-width: 765px) {
    .home-section {
        background-image: url(../images/rca-homepage.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        width: 100vw;
    }

    .book-tagline {
        font-size: 3rem;
    }

    #book-section {
        background-image: url(../images/book-background.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }

    #book-page-section {
        background-image: url(../images/book-background.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        height: 100vh;
        width: 100vw;
    }

    .book-cover-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    #mc_embed_signup{
        margin: auto;
        width: 50%;
        font: 50px 'Big Shoulders Display', cursive;
        text-decoration: none;
        padding: 0;
    }

    .form-row {
        max-height: 70vw;
    }
}