{% extends "base.html" %}

{% block content %}
<section id="admin-section">
    <div class="container pt-5">
    <!--Form to allow user to input new book details to be added to database-->
        <div class="row form-row">
            <form class="col-12 pb-5" method="POST" action="{{ url_for('edit_book', book_id=book._id) }}" enctype="multipart/form-data">
                <div class="col-12">
                    <h1 class="text-center white-text"><i class="ri-edit-2-line"></i> Edit Book</h1>
                    <br>
                    <p class="text-center white-text">
                        Didn't mean to edit this book? 
                        <a href="{{ url_for ('books') }}" class="btn">Go Back</a>
                        </p>
                        <br>
                <!--Book Name-->
                    <div class="row">
                        <div class="input-field col-12 col-md-8 offset-md-2">   
                            <input id="book_name" name="book_name" type="text" class="validate" value="{{ book.book_name }}" 
                            minlength="2" maxlength="100" placeholder="Title *" required> 
                        </div>
                    </div>

                <!--Author Name-->
                    <div class="row pb-2">  
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="book_author" name="book_author" type="text" class="validate" value="{{ book.book_author }}" 
                            minlength="2" maxlength="100" placeholder="Author *" required> 
                        </div>
                    </div>

                <!--Series Name-->
                    <div class="row pb-2">
                        <div class="col-12 col-md-8 offset-md-2">
                            <i class="white-text">Don't forget to set again.</i>
                        </div>  
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <select class="form-select validate" id="series_name" name="series_name" aria-label="Default select example" value="{{ book.series_name }}" required>
                                <option selected><p class="text-center">Series *</p></option>
                                <option value="James Stone">James Stone</option>
                                <option value="Elliott Armstrong">Elliott Armstrong</option>
                                <option value="Standalone">Standalone</option>
                              </select>
                        </div>        
                    </div>

                <!--Series Number-->
                    <div class="row pb-2">   
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="series_number" name="series_number" type="text" class="validate" value="{{ book.series_number }}" 
                            minlength="2" maxlength="100" placeholder="Series No *" required>
                        </div>
                    </div>

                <!--Chronological Number-->
                    <div class="row pb-2">   
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="chronological_number" name="chronological_number" type="text" value="{{ book.chronological_number }}" 
                                minlength="2" maxlength="100" placeholder="Chronological No">
                        </div>
                    </div>
                
                <!--Tagline-->
                    <div class="row pb-2">   
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="tagline" name="tagline" type="text" class="validate" value="{{ book.tagline }}"
                                minlength="2" maxlength="3000" placeholder="Tagline *" required>
                        </div>
                    </div>
            
                <!--Book Description-->
                    <div class="row pb-2">
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="desc_p1" name="desc_p1" type="text" class="validate" value="{{ book.desc_p1 }}"
                                minlength="2" maxlength="3000" placeholder="Paragraph 1 *" required>
                        </div>

                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="desc_p2" name="desc_p2" type="text" maxlength="3000" value="{{ book.desc_p2 }}" placeholder="Paragraph 2">
                        </div>

                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="desc_p3" name="desc_p3" type="text" maxlength="3000" value="{{ book.desc_p3 }}" placeholder="Book Info">
                        </div>

                    </div>

                <!--Cover-->
                    <div class="row pb-2">
                        <div class="div col-12 col-md-8 offset-md-2">
                            <img class="cover-preview" src="{{ book.cover }}" alt="{{ book.book_name }}">
                            <p class="white-text">{{ book.cover }}</p>
                        </div>
                        <div class="col-12 col-md-8 offset-md-2">
                            <div class="form-check">
                                <input id="new_cover_check" name="new_cover_check" class="form-check-input" type="checkbox" value="true">
                                <label class="form-check-label white-text" for="new_cover_check">
                                    Upload New Cover?
                                </label>
                            </div>
                        </div> 
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <label for="cover" class="form-label text-center white-text">Select Book Cover (500px x 800px)</label>
                            <input class="form-control" type="file" id="cover" name="cover" value="{{ book.cover }}" accept=".jpg,.png">
                        </div>
                    </div>

                <!--Links-->
                    <div class="row pb-2">
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="link_1" name="link_1" type="text" class="validate count"  pattern="(https?:\/\/.*(?))" value="{{ book.link_1 }}"
                            data-length="400" maxlength="400" placeholder="Amazon UK Link *" required>
                        </div>

                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="link_2" name="link_2" type="text" class="validate count" pattern="(https?:\/\/.*(?))" value="{{ book.link_2 }}"
                            data-length="400" maxlength="400" placeholder="Amazon US Link *" required>
                        </div>

                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="link_3" name="link_3" type="text" class="count" pattern="(https?:\/\/.*(?))" value="{{ book.link_3 }}"
                            data-length="400" maxlength="400" placeholder="Audible Link">
                        </div>

                    </div>
                        
                <!--ISBN-->
                    <div class="row pb-2">
                        <div class="input-field col-12 col-md-8 offset-md-2">
                            <input id="ISBN" name="ISBN" type="text" pattern="^[a-zA-Z0-9]{9,12}$" class="validate" value="{{ book.ISBN }}"
                            placeholder="ISBN No *" minlength="9" maxlength="12" required>
                        </div>
                    </div>

                <!--Available Formats-->
                    <div class="row pb-2">
                        <div class="col-12 col-md-8 offset-md-2">
                            <p class="white-text">Select Available Formats</p>
                        </div>
                        <div class="col-12 col-md-8 offset-md-2 pb-2">
                            <div class="form-check form-check-inline align-items-center">
                                <input id="is_ebook" name="is_ebook" class="form-check-input" type="checkbox" value="true">
                                <label class="form-check-label white-text" for="is_ebook">
                                Ebook
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="is_paperback" name="is_paperback" class="form-check-input" type="checkbox" value="true">
                                <label class="form-check-label white-text" for="is_paperback">
                                Paperback
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="is_hardback" name="is_hardback" class="form-check-input" type="checkbox" value="true">
                                <label class="form-check-label white-text" for="is_hardback">
                                Hardback
                                </label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input id="is_audiobook" name="is_audiobook" class="form-check-input" type="checkbox" value="true">
                                <label class="form-check-label white-text" for="is_audiobook">
                                Audiobook
                                </label>
                            </div>
                        </div>
                    </div>

                <!--Submit Button-->
                    <div class="row pb-1">
                        <button type="submit" class="col-8 offset-2 btn">
                            UPDATE
                        </button>
                    </div>  
                </div>
            </form>
            <div class="col-8 offset-2 pb-5">
                <a href="{{ url_for ('delete_book', book_id=book._id) }}" class="danger-btn">Delete Book</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}