{% extends "base.html" %}

{% block content %}

<!-----------------------homepage--------------------->
    <section id="home" class="home-section">
        <div class="container h-100">
            <div class="row h-100">
                <div class="offset-md-5 col-md-7 my-auto">
                    <div class="header-content mx-auto">
                        <h1 class="homepage-text white-text text-center">
                            "<strong>Robert Clark</strong> is up there with the best of them."
                        </h1>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}