{% extends "base.html" %}

{% block content %}

<section id="signup-section">
    <div class="signup-container h-100 col-12 col-md-8 offset-md-2">
        <div class="row pt-5">
            <div class="col-12">
                <h1 class="white-text text-center mt-5">Sign Up</h1>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12 col-md-4">
                <img src="/static/images/aftermath.png" alt="Aftermath" class="signup-book-cover">
            </div>
            <div class="col-12 col-md-8">
                <h1 class="white-text mb-2">She wanted death. She found a body</h1>
                <h2 class="white-text mb-5">Get your free copy of <strong>Aftermath</strong> Today!</h2>
            </div>
        </div>
    </div>
</section>

{% endblock %}